*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.container .addInfo{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255 , 255 , 255 , 0.6 );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px 0px;
}
input{
    width: 100%;
    padding: 10px 30px;
    font-size: 19px;
    border: none;
    box-shadow: inset 1px 1px 11px 0px navy;
    border-radius: 20px;
    text-transform: capitalize;
}

button{
    padding: 10px 30px;
    font-size: 19px;
    border: none;
    box-shadow: inset 1px 1px 11px 0px black;
    border-radius: 20px;
    scale: 1;
    transition: all 0.5s ease;
}
button:hover{
    box-shadow: inset 1px 1px 11px 100px green;
    cursor: pointer;
    scale: 0.95;
    transition: all 0.8s ease;
}
table{
    width: 100%;
    padding: 30px 30px;
    font-size: 19px;
    background-color: rgba(255 , 255 , 255 , 0.6);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
thead{
    width: 100%;
    height: 70px;
    background-color: snow;
    border: 10px solid blue;
    text-align: center;
    font-weight: 900;
    color: red;
}
tbody tr{
    height: 40px;
    text-align: center;
    text-transform: capitalize;
}
td{
border: 1px solid blue;
}
